<div class="span12">
  <div class="group">
    <%= link_to("Edit", edit_group_path(@group), :class => "btn btn-mini") %>
    <%= link_to("New Post", new_group_post_path(@group), :class => "btn btn-mini btn-primary") %>
        &nbsp;
  </div>

  <h2> <%= @group.title %> </h2>

  <p> <%= @gorup.description %> </p>
  <table class="table">
    <tbody>
    <% @post.each do |post| %>
    <tr>
      <td> <%= post.content %> </td>
      <td> <%= link_to("Edit", edit_group_post_path(post.group, post), :class => "btn btn-mini")%> </td>
      <td> <%= link_to("Delete", group_post_path(post.group, post), :class => "btn btn-mini", :method => :delete, :confirm => "Are ypu kidding me?") %> </td>

    </tr>
    <% end %>
    </tbody>
  </table>






</div>